[submodule "externals/simple-wiki"]
	path = externals/simple-wiki
	url = https://github.com/chinshaw/simple.wiki
[submodule "externals/hadoop-lzo"]
	path = externals/hadoop-lzo
	url = https://github.com/twitter/hadoop-lzo.git
[submodule "externals/hadoop"]
	path = externals/hadoop
	url = https://github.com/chinshaw/hadoop-common
