exportClass(Metric)
exportClass(MetricRange)
exportClass(MetricNumber)
exportClass(MetricString)
exportClass(MetricPlot)
exportClass(MetricMatrix)
exportClass(Violation)

export(Metric)
export(MetricRange)
export(MetricNumber)
export(MetricString)
export(MetricPlot)
export(MetricMatrix)
export(Violation)

export(addViolation)
export(addRange)
export(setPlot)
